@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Dancing Script';
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #141E30, #243B55);
}

h1, h2 {
    cursor: default;
}

h1 {
    font-size: 5em;
}

h2 {
    margin-top: 2vw;
    font-size: 2.5em;
}

header, main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header {
    height: 15vh;
}

main {
    height: 85vh;
    flex-direction: column;
}

main > div:last-of-type {
    width: 18vw;
    height: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main button {
    border-radius: 0.5em;
    height: 4vh;
    width: 7vw;
    color: black;
    font-size: 1.3em;
    border-color: transparent;
    cursor: pointer;
}

main button:hover {
    position: relative;
    height: 5vh;
    width: 8vw;
}

.bot {
    background-color: #eab308;
}

.twoPlayers {
    background-color: #d97706;
}

.container {
    display: grid;
    width: 18vw;
    height: 18vw;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.7vw;
}

.container div {
    border: 0.05vh solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #243b55;
    border-radius: 0.5em;
}

.container div:hover {
    background-color: #02527c;
    box-shadow: 0px 0.2em 0.4em rgb(200, 200, 200), 
                0px -0.2em 0.4em rgb(200, 200, 200),
                -0.2em 0px 0.4em rgb(200, 200, 200),
                0.2em 0px 0.4em rgb(200, 200, 200);
}

svg {
    display: none;
    height: 3.5vw;
    width: 3.5vw;
}

.circle, .circleC {
    fill: #eab308;
    overflow: hidden;
}

.circleC {
    position: absolute;
    height: 7vw;
    width: 7vw;
}

.plus, .plusC {
    transform: rotate(45deg);
    fill: #d97706;
}

.creation {
    display: none;
    width: 0;
    height: 0;
}
